{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'autorehab/main.css'%}"> -->

    <!------------------------------------------- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link href="{% static 'autorehab/css/font-awesome.css' %}" rel="stylesheet" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'autorehab/css/bootstrap.css'%}" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'autorehab/css/style.css'%}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'autorehab/css/responsive.css' %}" rel="stylesheet" />


    <title>Rehabibi | {{ title }}</title>

</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="{% url 'home_dev' %}">
                <span>
                  REHABIBI
                </span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item {% if url == 'home'%}active{% endif %}" >
                      <a class="nav-link" href="{% url 'home_dev' %}">Home</a>
                    </li>
                    <li class="nav-item {% if url == 'dashboard'%}active{% endif %}" >
                      <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <!-- <li class="nav-item  {% if url == 'exercise'%}active{% endif %} " >
                      <a class="nav-link" href="{% url 'exercise' %}">Exercise</a>
                    </li> -->
                    <!-- <li class="nav-item ">
                      <a class="nav-link" href="#"> About (coming soon)</a>
                    </li> -->
                    <li class="nav-item ">
                      <a class="nav-link" href="{% url 'our_team' %}"> Our Team</a>
                    </li>
                    </li>

    
                  </ul>
                  <div class="user_option">
                    <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                      <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </header>
        <!-- end header section -->

        {% block content %}{% endblock%}

      </div>

    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="{% static 'autorehab/js/bootstrap.js'%}"></script>

</body>
</html>