{% extends "autorehab/base_dev.html" %}

{% load static %}

{% block content %}
<style>
  .tick{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45%;
    top: 45%;
    border-radius: 100%;
  }
  .hide-tick{
    display: none;
  }
  .selected-mask{
    -webkit-mask-image: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0.5) 0%);
    mask-image: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0.5) 0%);
  }
</style>
  <section class="trainer_section layout_padding">
      <div class="container">
        <div class="heading_container  p-4 mb-5 row" style="border-radius:20px ;background-color: rgba(82, 38, 51,0.6);">
            <h4  class="col-12">Your Doctor</h4>
            <div class="col-lg-3 col-md-3">
              <div class="img-box" >
                  <img style="width:150px;height:150px;background-color:#fff;border-radius:100%;" class="p-2" src="{% static 'autorehab/images/doctor.png'%}" alt="">
            
              </div>
          </div>
          <div class="col-lg-9 col-md-9 text-left justify-content-center">
            <p><b>Dr. Duan Gu Tou</b></p>
            <p style="color:#fff" class="my-0"><img style="width: 20px " class="mr-2" src="{% static 'autorehab/images/telephone-white.png'%}" >+07-8575958</p>
            <p style="color:#fff" class="my-0"><img style="width: 20px " class="mr-2" src="{% static 'autorehab/images/envelope-white.png'%}" >gtduan@rehabibi.com</p>
            <p style="color:gray" class="my-0">Bachelor of Biomedical Science (UM)</p>
            <button style="background-color: #ff2953;border-radius: 5px;color:#fff;border-width: 0;" class="px-2 py-1 mt-3">Make Appointment</button>
          </div>

        </div>
        <div class="heading_container">
          <h2>
            Treatment
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="box">

              <form action="{% url 'durrep_dev' %}" method="post" id="systemForm">
                {% csrf_token %}
                <div class="img-box" >

                  <button type="submit" name="exerciseType" value="1" form="systemForm">
                    <img style="width:200px;height:200px" src="{% static 'autorehab/images/rehab.jpg'%}" alt="">
                  </button>
              
                </div>
              </form>
              <div class="name">
                <h5>
                  ACL Recovery Phase 1
                </h5>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box">

              <!-- <form action="{% url 'durrep_dev' %}" method="post" id="systemForm"> -->
                <!-- {% csrf_token %} -->
                <div class="img-box" >

                  <button data-toggle="modal" data-target="#exampleModal">
                    <img style="width:200px;height:200px" src="{% static 'autorehab/images/rehab.jpg'%}" alt="">
                  </button>
              
                </div>
              <!-- </form> -->
              <div class="name">
                <h5>
                  ACL Recovery Phase 2
                </h5>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box">

                <div class="img-box" >

                  <button >
                    <img style="width:200px;height:200px"  class="lock-overlay" src="{% static 'autorehab/images/overlay.jpg'%}" alt="">
                    <img style="width:200px;height:200px" src="{% static 'autorehab/images/rehab.jpg'%}" alt="">
                  </button>
              
                </div>
              <div class="name">
                <h5>
                  ACL Recovery Phase 3
                </h5>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box">

                <div class="img-box" >

                  <button >
                    <img style="width:200px;height:200px"  class="lock-overlay" src="{% static 'autorehab/images/overlay.jpg'%}" alt="">
                    <img style="width:200px;height:200px" src="{% static 'autorehab/images/rehab.jpg'%}" alt="">
                  </button>
              
                </div>
              <div class="name">
                <h5>
                  ACL Recovery Phase 4
                </h5>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Exercise Selection</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="carouselExampleIndicators" class="carousel slide" >
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active selected-mask" data-id="0">
                  <img class="tick"  src="{% static 'autorehab/images/tick.JPG'%}" alt="First slide">
                  <img class="d-block w-100"  src="{% static 'autorehab/images/fslr.JPG'%}" alt="First slide">
                </div>
                <div class="carousel-item selected-mask" data-id="1">
                  <img class="tick"  src="{% static 'autorehab/images/tick.JPG'%}" alt="First slide">
                  <img class="d-block w-100"  src="{% static 'autorehab/images/sslr.JPG'%}" alt="Second slide">
                </div>
                <div class="carousel-item selected-mask" data-id="2">
                  <img class="tick"  src="{% static 'autorehab/images/tick.JPG'%}" alt="First slide">
                  <img class="d-block w-100"  src="{% static 'autorehab/images/he.JPG'%}" alt="Third slide">
                </div>
                <div class="carousel-item selected-mask" data-id="3">
                  <img class="tick"  src="{% static 'autorehab/images/tick.JPG'%}" alt="First slide">
                  <img class="d-block w-100"  src="{% static 'autorehab/images/iqr.JPG'%}" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div>
              <h5 class="my-2"><b id="action_name"></b></h5>
              <p class="m-0" ><small>Difficulty : <span id="action_diff"></span></small></p>
              <p class="m-0" ><small id="action_desc"></small></p>
            </div>
          </div>
          <form action="{% url 'detection_dev' %}" method="post" id="durrep">
            {% csrf_token %}
            <div class="modal-footer" style="justify-content: flex-start;width: 100%;">
              <div style="width: 100%;">
                <div>
                  <p>Total Exercise : <span id="total_action"></span></p>
                  <table>
                    <tr>
                      <td >Duration:</td>
                      <td style="width: 60%;"><input style="max-width: 100% !important;" type="number" name="durationNumber" value=10 placeholder="Seconds"></td>
                    </tr>
                    <tr>
                      <td >Reps:</td>
                      <td style="width: 60%;"><input style="max-width: 100% !important;" type="number"  name="repsNumber" value=10 placeholder="Reps"></td>
                    </tr>
                  </table>
                </div>  
                <div style="display:flex;justify-content: flex-end" class="mt-4">
                  <input type="hidden"  name="exerciseType" value=1>
                  <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
                  <input type="submit" class="btn btn-primary"  type="submit" value="Start Exercise">
                </div>
              </div>


            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script> 

    $(document).ready(function(){
      let cart = {
      0:{
        name:"Front Straight Leg Raise",
        description:'Front Straight Leg Raise Description',
        diff:2,
        image:'fslr.JPG',
        selected:true
      },
      1:{
        name:"Side Straight Leg Raise",
        description:'Side Straight Leg Raise Description',
        diff:3,
        image:'sslr.JPG',
        selected:true
      },
      2:{
        name:"Pronated Hip Extension",
        description:'Pronated Hip Extension Description',
        diff:3,
        image:'he.JPG',
        selected:true
      },
      3:{
        name:"Inner Quadriceps Range",
        description:'Inner Quadriceps Range Description',
        diff:5,
        image:'iqr.JPG',
        selected:true
      }
    }

      $("#total_action").text(4)
      let diff = ''
      for(let i = 0 ; i < cart[0]['diff']; i++ ){
        diff += `<img style='width:35px' src="{% static 'autorehab/images/start.JPG'%}" alt="First slide">`
      }
      $("#action_name").text(cart[0]['name'])
      $("#action_diff").html(diff)
      $("#action_desc").text(cart[0]['description'])
      $('#carouselExampleIndicators').carousel({
        ride:false,
        interval:false,
      })
      $('.carousel-item').click((function(){
        let idx = $(this).data().id
        cart[idx]['selected'] = !cart[idx]['selected']
        
        if(cart[idx]['selected']){
          $(this).children().first().removeClass('hide-tick');
          $(this).addClass('selected-mask')
        }else{
          $(this).children().first().addClass('hide-tick')        
          $(this).removeClass('selected-mask')
        }
        let count = 0 
        for(let i = 0; i < 4;i++){
          if(cart[i].selected)count++
        }
        $("#total_action").text(count)

      }))
      $('#carouselExampleIndicators').on('slide.bs.carousel', function (e) {
        let idx = e.to
        $("#action_name").text(cart[idx]['name'])
        $("#action_desc").text(cart[idx]['description'])
        let diff = ''
        for(let i = 0 ; i < cart[idx]['diff']; i++ ){
          diff += `<img style='width:35px' src="{% static 'autorehab/images/start.JPG'%}" alt="First slide">`
        }
        $("#action_diff").html(diff)


      });
      $('#exampleModal').on('hidden.bs.modal', function (e) {
        $('#carouselExampleIndicators').carousel(0)
      })
    }); 


</script>
{% endblock content %}

